<div class="login-form">
  <h1>Edit Board</h1>
  <%= render partial: 'form', locals: {board: @board, url: board_path(@board), method: "patch"} %>
</div>
<div><%= link_to "Cancel", @board, {class: "btn btn-outline-secondary", id: "cancel-edit"} %></div>
