<h1>Feed</h1>
<br>
<% @boards.each do |board| %>
    <p><%= link_to board.user.username, board.user %> created <%= link_to board.name, board %> on <%= board.created_date %></p>
<% end %>
<br>
<br>
<div class= "button"><%= link_to "My boards", user_boards_path(current_user) %></div>
