
@import "bootstrap";
@import url(https://fonts.googleapis.com/css?family=Seaweed+Script);
@import url(https://fonts.googleapis.com/css?family=Monoton);
@import url(https://fonts.googleapis.com/css?family=Abel);



.static h1 {
  font-size: 65px;
  font-weight: 900;
  color: #FCF3CF;
  white-space: nowrap;
  display: inline-block;
  position: relative;
  letter-spacing: .1em;
  padding: .2em 0 .25em 0;
}

.static p {
  font-size: 25px;
  font-family: "Abel", "sans-serif";
  color: grey;
}

img.suitcase {
  width: 420px;
  height: auto;
  float: none;
}

img.user-show {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

input.user-thumbnail {
  width: 150px;
  height: 150px;
  padding: 10px;
  border-radius: 50%;
}

input.outfit-thumbnail {
  width: 200px;
  height: auto;
}

img.outfit-show {
  width: 500px;
  height: auto;
}

h1 {
  color: #4682b4;
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}

.button {
    background-color: #87ceeb;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.login-form {
    max-width: 500px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.login-form fieldset{
    border: none;
}
.login-form legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.login-form label {
    display: block;
    margin-bottom: 8px;
}
.login-form input[type="text"], .login-form input[type="password"]  {
    font-family: Georgia, "Times New Roman", Times, serif;
    background: rgba(255,255,255,.1);
    border: none;
    border-radius: 4px;
    font-size: 16px;
    margin: 0;
    outline: 0;
    padding: 7px;
    width: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    background-color: #e8eeef;
    color:#8a97a0;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.03) inset;
    margin-bottom: 30px;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}
